<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple E-commerce</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <h2>Simple E-commerce</h2>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Products</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/register.html">Register</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h1>Welcome to Our Store</h1>
        <p>Find the best products at the best prices.</p>
        <button>Shop Now</button>
    </section>

    <section class="products">

        <div class="card">
            <h3>Headphones</h3>
            <p>₹999</p>
            <button>Add to Cart</button>
        </div>

        <div class="card">
            <h3>Smart Watch</h3>
            <p>₹1999</p>
            <button>Add to Cart</button>
        </div>

        <div class="card">
            <h3>Shoes</h3>
            <p>₹1499</p>
            <button>Add to Cart</button>
        </div>

    </section>

</body>
</html>